<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.violet.min.css"
>    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💡</text></svg>">
    <title>Personal light switch</title>
  
  </head>
  <body>
    <main class="container" style="text-align: center;">
    
    <hgroup>
    <h1>Light Switch</h1>
    <p>Turn on or off</p>
    </hgroup>
    </main>

    <main class="container" style="text-align: center;">
    
      <h1><div style="height=500px" role=button hx-post="/on"> ON ☀️ </div></h1>
    
      <h1><div role=button hx-post="/off"> OFF 🌙 </div></h1>

      <h1><div role=button hx-post="/sleepy"> Sleepy 💤 </div></h1>

    </main>
      

    

   
    <div class="grid" style="text-align: center;">
        <div>
        <a href="https://github.com/Rafael-G-C"> Github </a>
        </div>
    <div>
        <a href="https://twitter.com/rafaelg_chem"> X </a>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/rafael-gonzalez-15283b273/"> LinkedIn </a>   
    </div>
        </div>
    </main>

  </body>
</html>



